@media (max-width: 575px){


}
/*phones*/
@media (max-width: 767px){
    .container{
    background-image: url(../img/dawn.png);
  }
  .row{
    background-image: url(../img/kitten-large.png);
  }
}
/*tablets*/
@media (min-width: 768px) and (max-width: 991px){
  .container{
    background-image: url(../img/night.jpg);
    padding-left: 30%;
  }
  .row{
    background-image: url(../img/kitten-small.png);
    background-size: 60%;
  }
}

/*desktop*/
@media (min-width: 992px) and (max-width: 1199px){

}

/*extra desktop*/
@media (min-width: 1200px){

}